<div class="infoCon">
<div class="padding-md">
    <h2 class="header-text">
        管理员
    </h2>
    <div class="text-right">
        <span class=" btn btn-success" ng-click="addModal()">+添加</span>
    </div>
    <div class="containtCon">


        <!--表格-->
        <!--<div style="border-top: 5px solid #ccc;">-->
            <table class="table table-striped">
                <tr class="form-group">
                    <th>用户名</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="value in managerListInfo|limitTo:itemsPerPage:(currentPage-1)*itemsPerPage">
                    <td>{{value.username}}</td>
                    <td>{{value.phone}}</td>
                    <td>
                        <button class="btn btn-md btn-primary fa fa-edit "ng-click="editModal(value.id)"></button>
                        <button class="btn btn-md btn-danger fa fa-trash-o"  ng-show="$index==managerListInfo.length-1?false:true" ng-click="deleteManager(value.id)"></button>
                    </td>
                </tr>
            </table>

        <!--</div>-->
        <!--分页-->
        <div class="text-right">
            <ul uib-pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

        </div>
    </div>
    </div>
</div>
</div>
