<div class="padding-md">
    <h2 class="header-text">
        检验准备
    </h2>

    <!--顶部时间检索开始-->
    <form action="" class="form-inline ng-pristine ng-valid"
          ng-init="searchTools.setting.startDateIsOpen = true;searchTools.setting.endDateIsOpen = true">
        <div class="input-group">
            <div ng-controller="DatepickerPopupDemoCtrl">
                <!--<div class="row">-->
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt"
                           is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close"/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-success" ng-click="open2()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </p>
                <!--</div>-->
            </div>
        </div>
        <div class="input-group">
            <div ng-controller="DatepickerPopupDemoCtrl">
                <!--<div class="row">-->
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt"
                           is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close"/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-success" ng-click="open2()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </p>
                <!--</div>-->
            </div>
        </div>
        <div class="input-group">
            <p class="input-group">
                <input type="text" class="form-control" placeholder="请键入关键字"/>
                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-success">搜索</button>
                            </span>
            </p>
        </div>


    </form>
    <!--顶部时间检索结束-->

    <!--检验单位检验准备列表开始-->
    <div style="border-top: 5px solid #ccc;">
        <table class="table table-striped">
            <tr class="form-group">
                <th>检验受理编号</th>
                <th>检验项目名称</th>
                <th>检验设备名称</th>
                <th>检验设备编号</th>
                <th>项目公司名称</th>
                <th>申报人员</th>
                <th>创建日期</th>
                <th>操作</th>

            </tr>
            <tr ng-repeat="testReady in testReadyArray">
                <td>{{testReady.id}}</td>
                <td>{{testReady.projectName}}</td>
                <td>{{testReady.deviceName}}</td>
                <td>{{testReady.deviceCode}}</td>
                <td>{{testReady.applicationCompanyName}}</td>
                <td>{{testReady.declarant}}</td>
                <td>{{testReady.createTime | date:'yyyy/MM/dd'}}</td>
                <td>
                    <button class="btn btn-md btn-primary fa fa-check-square-o"
                            ng-click="openTestReadyDesignate(testReady.id)"></button>
                    <button class="btn btn-md btn-success fa fa-file-text-o"
                            ng-click="openTestReadyParticular(testReady.id)"></button>
                </td>
            </tr>
        </table>
        <div class="text-right">
            <ul uib-pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
    <!--检验单位检验准备列表结束-->

</div>


<script type="text/ng-template" id="myTestReady.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                          ng-click="cancel()">&times;</span>
        </button>
        <h3 class="modal-title" id="testReady-title">检验人员指派</h3>
    </div>

    <div class="smart-widget-inner" style="padding:20px">
        <div class="smart-widget-body">
            <form id="formToggleLine" class="form-horizontal no-margin form-border ng-pristine ng-valid" angular-validator-submit="submitMyForm()" name="myForm" novalidate angular-validator>

                <div class="form-group">
                    <label class="col-lg-3 control-label">检验受理编号</label>
                    <div class="col-lg-9">
                        <p type="text" class="form-control ng-binding" ng-bind="accNumber.id"></p>
                        <span class="help-block"></span>
                    </div>
                </div>
                <!-- 受理人员 -->
                <div class="form-group">
                    <label class="col-lg-3 control-label">申报人员</label>
                    <div class="col-lg-9">
                        <p type="text" class="form-control ng-binding" ng-bind="accNumber.declarant"></p>
                        <span class="help-block"></span>
                    </div>
                </div>

                <!--&lt;!&ndash; 受理人员联系电话 &ndash;&gt;-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">检验项目</label>
                    <div class="col-lg-9">
                        <p type="text" class="form-control ng-binding" ng-bind="accNumber.project.name"></p>
                        <span class="help-block"></span>
                    </div>
                </div>
                <!-- 检验报告编号 -->
                <div class="form-group">
                    <label class="col-lg-3 control-label">检验设备编号</label>
                    <div class="col-lg-9">
                        <p type="text" class="form-control ng-binding" ng-bind="accNumber.deviceCode"></p>
                        <span class="help-block"></span>
                    </div>
                </div>
                <!-- 申报单位 -->
                <div class="form-group">
                    <label class="col-lg-3 control-label">申报单位</label>
                    <div class="col-lg-9">
                        <p type="text" class="form-control ng-binding" ng-bind="accNumber.applicationCompany.name"></p>
                        <span class="help-block"></span>
                    </div>
                </div>
                <!--报告材料-->
                <!-- ngRepeat: item in data.applicationMaterialFiles -->
                <!-- 检验人员 -->
                <div class="form-group">
                    <label class="col-lg-3 control-label">检验人员</label>
                    <div class="col-lg-9">
                        {{item}}
                        <ui-select ng-model="Personnel.q" theme="bootstrap" name="selectContent"
                                   required-message="'请选择指派人员！'"
                                   required>
                            <ui-select-match>{{Personnel.q.username}}</ui-select-match>
                            <ui-select-choices repeat="item in Personnel">

                                <div ng-bind-html="item.username"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- SUBMIT BUTTON -->
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="doAccept()">受理
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myTestReadyParticular.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                          ng-click="cancel()">&times;</span>
        </button>
        <h3 class="testReadyParticular-title" id="testReadyParticular-title">报告详情</h3>
    </div>
    <div class="testReadyParticular-body" id="testReadyParticular-body">
        <!--开始-->
        <div ng-controller="TabsDemoCtrl" style="padding:20px">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="设备报检申请">
                    <div class="form-group row" style="margin-top:20px">
                        <div class="col-md-3">
                            <label>产权备案编号</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.iprCode">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>设备编号</label>
                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.iprCode">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>设备名称</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.deviceName">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>规格型号</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.specification">

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>所属工程</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.project.name">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>设备公司名称</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.applicationCompany.name">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>申报人</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.declarant">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>申报时间</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.application.applicationDate | date:'yyyy/MM/dd'">

                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="1" heading="检验单位审核">
                    <div class="form-group row" style="margin-top:20px">
                        <div class="col-md-3">
                            <label>审核人</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.accept.accepter.username">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>审核时间</label>

                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" ng-model="eiaInfo.accept.createTime | date:'yyyy/MM/dd'">

                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</script>


